
.homebody {
  background-color: #111;
}
body {
  background-color: #111;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeh1 {
  font-size: 120px;
  text-transform: uppercase;
  font-family: 'Gambetta', serif;
  letter-spacing: -3px;
  transition: 700ms ease;
  font-variation-settings: "wght" 311;
  margin-bottom: 1.2rem;
  color: PaleGoldenRod;
  outline: none;
  text-align: center;
  margin-top: -200px;
}

.homeh1:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 1px;
}

.homep {
  font-size: 1.2em;
  line-height: 150%;
  text-align: center;
  color: MintCream;
  letter-spacing: .5px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover,
.btn:hover {
  color: white;
  font-size: 1.15em;
}


button {
  display: inline-block;
  background-color: #721b9b;
  border-radius: 10px;
  border: 4px #cccccc;
  color: #eeeeee;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 120px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

